<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.vaksys.vivekpk">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".extras.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.VerifyOtpActivity"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.HomeActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.NewsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.NotificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.WebViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.DiactivateAccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MyAccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.RefferalCodeActivity"
            android:screenOrientation="portrait" />

        <!-- SMS Receiver -->
        <receiver android:name=".extras.SmsReceiver">
            <intent-filter android:priority="99999">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <!-- Intent service -->
        <service
            android:name=".service.HttpService"
            android:exported="false" />

        <activity
            android:name=".activities.Temp"
            android:exported="true" />
        <activity
            android:name=".activities.HelpViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ForgotPassWordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ResetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.DocumentImageGallery"
            android:screenOrientation="portrait" />
        <activity android:name=".activities.TermOfUseActivity"></activity>

        <service android:name=".service.MyAlarmService"
            android:enabled="true" />

        <receiver android:name=".service.MyReceiver"/>

        <activity android:name=".activities.FullDocumentImage"/>
        <service android:name=".service.RegistrationIntentService"/>
        <activity android:name=".activities.LicenseFullDocumentImage"/>
        <activity android:name=".activities.TermOfUseActivity" />
        <activity android:name=".activities.PrivacyActivity"></activity>
    </application>

</manifest>